body{
  background-color: black;
  font-family: 'Pacifico', cursive;
}
.rec{
  height: 20%;
  background: white;
  border-style: solid;
  border-width: 3px;
  font-size:4vh;
}
.rectrain{
  background: white;
  height: 50%;
  border-style: solid;
  border-width: 3px;
  font-size: 4vh;
}
.text-form{
  margin-top: 2%;
}
.recomp{
  font-size: 4vh;
  background: white;
  height: 45%;
  border-style: solid;
  border-width: 3px;
}
.recquality{
  background: white;
  height: 20%;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  font-size: 4vh;
}
.recexpro{
  font-size: 4vh;
  background: white;
  height: 45%;
  border-style: solid;
  border-width: 3px;
  text-align: center;
}
.recleisure{
  text-align: center;
  font-size: 4vh;
  background: white;
  height: 15%;
  border-style: solid;
  border-width: 3px;
}
.imgtrain{
  float: right;
}
.imgTitle{
  float: right;
}
.imgQualite{
  float: right;
}
.imgComp{
  float: right;
}
.imgExp{
  float: right;
}
.imgbird{
  float: right;
}
.title{
  text-align: center;
  font-size: 10vh;
}
.navbar{
  color: white;
}
.logo-competences{
  height: 100px;
  width: 100px;
}
.navbar-brand{
  font-size: 4vh;
}
#skills{
  display:none;
}
#training{
  display: none;
}
#experiences{
  display: none;
}
#leisure{
  display: none;
}
